.title {
  font-size: 26px;
  font-weight: 500;
  font-family:  var(--mantine-font-family);
}

.controls {
  @media (max-width: var(--mantine-spacing-xs)) {
    flex-direction: column-reverse;
  }
}

.control {
  @media (max-width: var(--mantine-spacing-xs)) {
    width: 100%;
    text-align: center;
  }
}
